<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ static_url("style.css") }}">
	<title>The Alpha Mumger</title>
</head>
<body>
	  <h1>The Alpha Mumger</h1>
	  <p>Enter two texts below. The replacement text will have its words
		replaced by words beginning with the same letter in the source text.</p>
	  <form method="post" action="/poem">
	  		<p>source text<br/>
		  		<textarea row=4 clos=55 name="source"></textarea>
	  		</p>
	  		<p>text for replacement <br/>
		  		<textarea row=4 clos=55 name="change"></textarea>
	  		</p>
	  		<input type="submit">
	  </form>
	  </form>
</body>
</html>